TravelingSanta2018/Winform/2opt/bin/*
TravelingSanta2018/Winform/2opt/obj/*
TravelingSanta2018/Winform/gui/bin/*
TravelingSanta2018/Winform/gui/obj/*
TravelingSanta2018/Winform/elasticconstruction/bin/*
TravelingSanta2018/Winform/elasticconstruction/obj/*
TravelingSanta2018/Winform/.vs/*
